<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hust.bookflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bookcrossing_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme_NOTransluce"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MovieDetailsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.ActorDetailsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.BookDetailsActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme_NOTransluce" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="nosensor">


            <!--
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hust.bookflow.activity.MainActivity" />
            -->
        </activity>
        <activity
            android:name=".activity.ScanDetailsActivity"
            android:screenOrientation="nosensor"
            />
        <!--加入扫描Activity-->
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:screenOrientation="nosensor"
            />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>